{% extends "master.html" %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
{{ super() }}  

    <div class="container" ng-controller="ChartController" ng-init="isFavorite={{chart.liked}}; chart_uuid='{{chart.uuid}}'">
      <div class="row">
        <div class="col-sm-4">
          <h4>{{chart.name}} &nbsp;&nbsp;&nbsp; <a href='#' ng-click="favorite()">
            <span ng-if="isFavorite"><i class="fa fa-heart" aria-hidden="true"></i></span>
            <span ng-if="!isFavorite"><i class="fa fa-heart-o" aria-hidden="true"></i></span>
          </a>
          </h4>
          <br/><br/>
          <h5>This chart is part of the {{ workbook['name'] }} workbook</a></h5>
        </div>
        <div class="col-sm-8">
          <uib-tabset active="activeForm">
            <uib-tab index="0" heading="Creators">
              <table class="table">
                <tr>
                  <th>Name</th>
                </tr>
                  {% for row in creators %}
                  <tr>
                    <td><a href='{{row['link']}}'>{{ row['name'] }}</a></td>
                  </tr>
                  {% endfor %}
              </table>  
            </uib-tab>
            <uib-tab index="1" heading="Top consumers">
              <table class="table">
                <tr>
                  <th>Name</th>
                </tr>
                  {% for row in consumers %}
                  <tr>
                    <td><a href='{{row['link']}}'>{{ row['name'] }}</a></td>
                  </tr>
                  {% endfor %}
                </table>
            </uib-tab>
            <uib-tab index="2" heading="Feeding tables">
              <table class="table">
                <tr>
                  <th>Name</th>
                </tr>
                {% for row in tables %}
                <tr>
                  <td><a href='{{row['link']}}'>{{ row['name'] }}</a></td>
                </tr>
                {% endfor %}
              </table>
            </uib-tab>
          </uib-tabset>
        </div>
      </div>
    </div>

{% endblock %}
