elasticsearch>=5.4.0
Flask>=0.12.2
Flask-Admin>=1.5.0
Flask-WTF>=0.14.2
Flask-Login>=0.4.0
future>=0.16.0
gunicorn>=19.4.0
ldap3==2.4.1
neo4j-driver>=1.5.0
psutil>=4.2.0
python-dateutil>=2.3
setproctitle>=1.1.8
sqlalchemy>=1.1.15
sqlalchemy-utc>=0.9.0
sqlineage==0.2.2
urlparse3>=1.1
