[core]
# The home folder for databook, default is ~/databook
databook_home = {DATABOOK_HOME}

# The folder where databook should store its log files
# This path must be absolute
base_log_folder = {DATABOOK_HOME}/logs

# Logging level
logging_level = INFO

# Logging class
# Specify the class that will specify the logging configuration
# This class has to be on the python classpath
# logging_config_class = my.path.default_local_settings.LOGGING_CONFIG
logging_config_class =

# Log format
log_format = [%%(asctime)s] {{%%(filename)s:%%(lineno)d}} %%(levelname)s - %%(message)s
log_format_with_pid = [%%(asctime)s] [%%(process)d] {{%%(filename)s:%%(lineno)d}} %%(levelname)s - %%(message)s
log_format_with_thread_name = [%%(asctime)s] {{%%(filename)s:%%(lineno)d}} %%(threadName)s %%(levelname)s - %%(message)s
simple_log_format = %%(asctime)s %%(levelname)s - %%(message)s

# Size of logging buffer
logging_buffer_size = 4096
# Logging level minimum to flush buffer before full
# See python doc on core module logging, DEBUG=10,INFO=20,WARN=30,ERROR=40
# default to no buffering
logging_flush_level = 0

[webserver]
# The base url of your website as databook cannot guess what domain or
# cname you are using. This is used in automated emails that
# databook sends to point links to the right web server
base_url = http://127.0.0.1:5000

# The ip specified when starting the web server
web_server_host = 0.0.0.0

# The port on which to run the web server
web_server_port = 5000

# Paths to the SSL certificate and key for the web server. When both are
# provided SSL will be enabled. This does not change the web server port.
web_server_ssl_cert =
web_server_ssl_key =

# Number of seconds the gunicorn webserver waits before timing out on a worker
web_server_worker_timeout = 120

# Number of workers to refresh at a time. When set to 0, worker refresh is
# disabled. When nonzero, airflow periodically refreshes webserver workers by
# bringing up new ones and killing old ones.
worker_refresh_batch_size = 1

# Number of seconds to wait before refreshing a batch of workers.
worker_refresh_interval = 30

# Number of workers to run the Gunicorn web server
workers = 4

# The worker class gunicorn should use. Choices include
# sync (default), eventlet, gevent
worker_class = sync

# Log files for the gunicorn webserver. '-' means log to stderr.
access_logfile = -
error_logfile = -

# Set to true to turn on authentication
authenticate = False

[graphdb]
neo4j_url = bolt://neo4j_databook:7687
neo4j_user = neo4j
neo4j_pass = blade1

[elasticsearch]
base_url = http://elasticsearch_databook
