<!DOCTYPE html>
<html ng-app="DataPortalApp">
  <head>
    <title>DataPortal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link href="{{url_for('static', filename='custom.css')}}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/font-awesome.min.css')}}" rel="stylesheet">
  </head>

<body>
<div class="container-full">

  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" ng-click="isNavCollapsed = !isNavCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{url_for('admin.index')}}"><img src="{{url_for('static', filename='images/logo.png')}}" style="width: 20px; height:20px; float:left; margin: 0px; margin-right: 4px;"><span>DataPortal</span></a>
    </div>
    <div class="collapse navbar-collapse" uib-collapse="isNavCollapsed" ng-controller="MasterController">
      <ul class="nav navbar-nav">
        <li><a href="{{url_for('admin.index')}}">Search</a></li>
        <li>
          <div class="btn-group" uib-dropdown is-open="menustatus.is_tools_open">
            <button id="single-button" type="button" class="btn" uib-dropdown-toggle ng-disabled="disabled">
              Tools<span class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
              <li role="menuitem"><a href="#" ng-click="open('{{url_for('group.showGroup', group_id=-1)}}')">Add Group</a></li>
            </ul>
          </div>
        </li>
        <!-- <li>
          <form class="navbar-form" role="search">
            <div class="input-group add-on">
              <input class="form-control" placeholder="Search all data" name="srch-term" id="srch-term" type="text">
              <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="fa fa-search" aria-hidden="true"></i>
                </button>
              </div>
            </div>
          </form>
        </li> -->
      </ul>
      <ul class="nav navbar-nav navbar-right">
          {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('admin.logout') }}"><i class="fa fa-sign-out" aria-hidden="true"></i>
</a></li>
          {% endif %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ url_for('person.me') }}">Me!</a></li>
      </ul>
    </div>
  </nav>

  {# store the jinja2 context for form_rules rendering logic #}
  {% set render_ctx = h.resolve_ctx() %}
  {% block body %}
    {{ content }}
  {% endblock %}

</div>
    <script src="{{ url_for('static', filename='angular.min.js') }}"></script>
    <script src="{{ url_for('static', filename='ui-bootstrap-tpls-2.5.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>
