{% extends "master.html" %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
{{ super() }}  

    <div class="container" ng-controller="SearchController">
      <div class="container">
        <h1>Search the DataPortal</h1>
        <form ng-submit="getResults()">
          <div class="form-group">
            <input type="text" ng-model="formData.searchTerm" class="form-control" placeholder="What are you looking for?" style="max-width: 300px;" autofocus required>
            <input type="radio" ng-model="formData.nodeType" value="person"> Person
            <input type="radio" ng-model="formData.nodeType" value="group"> Group
<!-- DISABLED
            <input type="radio" ng-model="formData.nodeType" value="tableau"> Tableau
            <input type="radio" ng-model="formData.nodeType" value="table"> Table
-->
          </div>
          <input type="hidden" ng-model="formData.csrf_token" value="{{ csrf_token() }}"/>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <br>
        {% for error in errors %}
          <h4>{{ error }}</h4>
        {% endfor %}
      </div>
      <table class="table" ng-show='isShow == 1'>
        {% raw %}
        <tr>
           <th ng-repeat="elem in columns">{{elem}}</th>
        </tr>
        <tr ng-repeat="row in tabledata">
            <td><a href='{{row.link}}'>{{row.name}}</a></td>
            <td>{{row.email}}</td>
            <td>{{row.id}}</td>
        </tr>
        {% endraw %}
      </table>
    </div>
{% endblock %}
